$backgroundColor : #f2f2f2;
$navBackground : #fff;
$blackBorder : #fff;
$menuBlue: #3e7be6;
$menuCloseColor: #FF5656;

$htmlColor: #FD9494;
$scssColor: #DAA1F9;
$javaScriptColor: #3FBABB;
$reactJsColor: #9BC7F8;
$designColor: #DAA1F9;
$showAllColor: #808080;

@font-face{
    font-family: hindMadurai;
    src: url(./assets/fonts/Hind_Madurai/HindMadurai-Regular.ttf);
}
@font-face{
    font-family: poppins-med;
    src: url(./assets/fonts/Poppins/Poppins-Medium.ttf);
}
@font-face{
    font-family: poppins-regular;
    src: url(./assets/fonts/Hind_Madurai/HindMadurai-Regular.ttf);
}


@mixin flexColCent{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
@mixin flexCol{
    display: flex;
    flex-direction: column;
}
@mixin flexRowSbCenter{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
@mixin flexRow{
    display: flex;
    flex-direction: row;
}

*{
    font-family: "hindMadurai";
    color: #0a0a0a;
}
body{
    margin: 0;
    padding: 0;
}

//Text
h4{
    font-family: 'poppins-med';
    font-weight: 400;
    font-size: 1em;
    margin: 0;
    color: #000;
}
p{
    margin: 5px 0 0 0;
    font-weight: 400;
    font-size: .9em;
    font-family: 'poppins-regular';
    color: #000;
}

//Main Wrapper
.mainWrapper{
    width: 100%;
    min-width: 375px;
    height: auto;
    box-sizing: border-box;
    overflow: hidden;
    background: $backgroundColor;
    @include flexColCent();
}

//Navigation
.navigation{
    width: 100%;
    height: auto;
    background: $navBackground;
    padding: 20px 30px 10px 30px;
    position: relative;
    box-sizing: border-box;
    @include flexCol();

    .menuNav{
        @include flexRowSbCenter();
        padding-bottom: 7px;
        box-sizing: border-box;

        .logo{
            font-family: "poppins";
            font-size: 27px;
            font-weight: 500;
            margin  : 0;
        }
        .burgerMenu{
            height: auto;
            margin-right: 15px;

            &:hover{
                .bar,
                .halfBar{
                    box-shadow: 2px 2px 0px 0px $menuCloseColor;
                }
            }

            .bar{
                height: 3px;
                width: 22px;
                background: #000;
                margin-bottom: 6px;
                transition: box-shadow .1s;
            }
            .halfBar{
                height: 3px;
                width: 11px;
                background: #000;
                transition: box-shadow .1s;
            }
        }
    }
}
.menuWrapper{
    width: 170px;
    height: auto;
    border-bottom: 4px solid $menuBlue;
    background: #fff;
    position: absolute;
    right: -100%;
    transition: right .2s;

    .menuClose{
        position: relative;
        left: 128px;
        top: 10px;
        height: 20px;
        width: 20px;

        &:hover{
            .botCross{
                top: 1px;
                left: 2px;
            }
        }

        .topCross{
            position: absolute;
            top: 0;
            z-index: 1000;
        }
        .botCross{
            position:  absolute;
            top: 0px;
            left: 0px;
            transition: all 0.2s;
        }
    }
    .menuContent{
        ul{
            padding: 0 0 0 20px;
            list-style: none;
            li{
                margin-bottom: 20px;
                
                button{
                    padding: 0;
                }
            }
        }
    }
    .menuFooter{
        display: flex;
        justify-content: center;
        ul{
            @include flexRow();
            align-items: center;
            list-style: none;
            padding: 0;
            margin: 30px 0 5px 0;

            li:nth-child(2){
                margin: 0 26px;
            }
        }
    }
}

//Gallery
.galleryWrapper{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding: 5px 14px;
}
.wrapper{
    width: 31%;
    min-width: 280px;
    margin: 10px;
    background: #fff;
    box-shadow: 6px 6px 0px 0px #3E7BE6;

    img{
        max-width: 100%;
        height: auto;
    }
    .content{
        padding: 5px 10px;
    }
    .btnWrapper{
        width: 100%;
        margin-top: 5px;
        padding: 5px 10px;
        display: flex;
        justify-content: space-between;
        box-sizing: border-box;

        .tagsWrapper{
            display: flex;
            flex-direction: row;
        }
    }
}

//Buttons & Tabs
.genreButton{
    border: 0;
    width: auto;
    height: auto;
    padding: 4px 8px;
    margin: 3px 2px;
    font-size: .9em;
    font-family: 'poppins-regular';
    background-color: #fff;
    border: 1px solid;
    box-shadow: 0px 0px 0px 0px #fff;
    transition: all .1s;
}
.typeTab{
    border: .7px solid;
    margin-left: 8px;
    padding: 2px 8px;
    box-sizing: border-box;
    font-size: .8em;
    font-family: 'poppins-regular';
}
.visitSite2{
    width: 70px;
    padding: 2px 2px;
    font-size: .8em;
    border: none;
    background: #3E7BE6;
    color: #fff;    
    font-family: 'poppins-regular';
}
.menuButton{
    border: none;
    background: none;
    font-size: 1em
}

//Gallery Tabs
.html{
    border-color: $htmlColor;
}
.scss{
    border-color: $scssColor;
}
.javaScript{
    border-color: $javaScriptColor;
}
.reactJs{
    border-color: $reactJsColor;
}
.design{
    border-color: $designColor;
}

//Navigation Genre
#html{
    border-color: $htmlColor;

    &:hover{
        box-shadow: 3px 3px 0px 0px $htmlColor;
    }
}
#scss{
    border-color: $scssColor;

    &:hover{
        box-shadow: 3px 3px 0px 0px $scssColor;
    }
}
#javaScript{
    border-color: $javaScriptColor;

    &:hover{
        box-shadow: 3px 3px 0px 0px $javaScriptColor;
    }
}
#reactJs{
    border-color: $reactJsColor;

    &:hover{
        box-shadow: 3px 3px 0px 0px $reactJsColor;
    }
}
#design{
    border-color: $designColor;

    &:hover{
        box-shadow: 3px 3px 0px 0px $designColor;
    }
}
#showAll{
    border-color: $showAllColor;

    &:hover{
        box-shadow: 3px 3px 0px 0px $showAllColor;
    }
}

.htmlActive{
    border: 1.4px solid $blackBorder !important;
    background-color: $htmlColor;
    box-shadow: 3px 3px 0px 0px $htmlColor;
    color: #fff;
    
}
.scssActive{
    border: 1px solid $blackBorder !important;
    background-color: $scssColor;
    box-shadow: 3px 3px 0px 0px $scssColor;
    color: #fff;
}
.javaScriptActive{
    border: 1px solid $blackBorder !important;
    background-color: $javaScriptColor;
    box-shadow: 3px 3px 0px 0px $javaScriptColor;
    color: #fff;
}
.reactJsActive{
    border: 1px solid $blackBorder !important;
    background-color: $reactJsColor;
    box-shadow: 3px 3px 0px 0px $reactJsColor;
    color: #fff;
}
.designActive{
    border: 1px solid $blackBorder !important;
    background-color: $designColor;
    box-shadow: 3px 3px 0px 0px $designColor;
    color: #fff;
}
.showAllActive{
    border: 1px solid $blackBorder !important;
    background-color: $showAllColor;
    box-shadow: 3px 3px 0px 0px $showAllColor;
    color: #fff;
}


//Media Queries
@media only screen and (max-width: 927px){
    .wrapper{
        width: 47%;
    }
}
@media only screen and (max-width: 694px){
    .wrapper{
        width: 90%;
    }
}