* {
  font-family: "Hind Madurai";
  color: #0a0a0a;
}

body {
  margin: 0;
  padding: 0;
}

h4 {
  font-family: 'Asap';
  font-weight: 400;
  font-size: 1em;
  margin: 0;
  color: #000;
}

p {
  margin: 5px 0 0 0;
  font-weight: 400;
  font-size: .9em;
  font-family: 'roboto';
  color: #000;
}

.mainWrapper {
  width: 100vw;
  height: auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow: hidden;
  background: #f2f2f2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.navigation {
  width: 100%;
  height: auto;
  background: #fff;
  padding: 20px 18px 10px 18px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.navigation .menuNav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 7px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.navigation .menuNav .logo {
  font-family: "poppins";
  font-size: 27px;
  font-weight: 500;
  margin: 0;
}

.navigation .menuNav .burgerMenu {
  height: auto;
}

.navigation .menuNav .burgerMenu .bar {
  height: 3px;
  width: 22px;
  background: #000;
  margin-bottom: 6px;
}

.navigation .menuNav .burgerMenu .halfBar {
  height: 3px;
  width: 11px;
  background: #000;
}

.galleryWrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 5px 14px;
}

.wrapper {
  width: 31%;
  min-width: 280px;
  margin: 10px;
  background: #fff;
  -webkit-box-shadow: 6px 6px 0px 0px #3E7BE6;
          box-shadow: 6px 6px 0px 0px #3E7BE6;
}

.wrapper img {
  max-width: 100%;
  height: auto;
}

.wrapper .content {
  padding: 5px 10px;
}

.wrapper .btnWrapper {
  width: 100%;
  margin-top: 5px;
  padding: 5px 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.wrapper .btnWrapper .tagsWrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.genreButton {
  border: 0;
  width: auto;
  height: auto;
  padding: 4px 8px;
  margin: 3px 2px;
  font-size: .9em;
  font-family: 'roboto';
  background-color: #fff;
  border: 1px solid;
  -webkit-box-shadow: 0px 0px 0px 0px #fff;
          box-shadow: 0px 0px 0px 0px #fff;
  -webkit-transition: -webkit-box-shadow .1s;
  transition: -webkit-box-shadow .1s;
  transition: box-shadow .1s;
  transition: box-shadow .1s, -webkit-box-shadow .1s;
}

.typeTab {
  border: .7px solid;
  margin-left: 8px;
  padding: 2px 8px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: .8em;
  font-family: 'roboto';
}

.visitSite2 {
  width: 70px;
  padding: 2px 2px;
  font-size: .8em;
  border: none;
  background: #3E7BE6;
  color: #fff;
  font-family: 'roboto';
}

.html {
  border-color: #FD9494;
}

.scss {
  border-color: #DAA1F9;
}

.javaScript {
  border-color: #3FBABB;
}

.reactJs {
  border-color: #9BC7F8;
}

.design {
  border-color: #DAA1F9;
}

#html {
  border-color: #FD9494;
}

#html:hover {
  -webkit-box-shadow: 3px 3px 0px 0px #FD9494;
          box-shadow: 3px 3px 0px 0px #FD9494;
}

#scss {
  border-color: #DAA1F9;
}

#scss:hover {
  -webkit-box-shadow: 3px 3px 0px 0px #DAA1F9;
          box-shadow: 3px 3px 0px 0px #DAA1F9;
}

#javaScript {
  border-color: #3FBABB;
}

#javaScript:hover {
  -webkit-box-shadow: 3px 3px 0px 0px #3FBABB;
          box-shadow: 3px 3px 0px 0px #3FBABB;
}

#reactJs {
  border-color: #9BC7F8;
}

#reactJs:hover {
  -webkit-box-shadow: 3px 3px 0px 0px #9BC7F8;
          box-shadow: 3px 3px 0px 0px #9BC7F8;
}

#design {
  border-color: #DAA1F9;
}

#design:hover {
  -webkit-box-shadow: 3px 3px 0px 0px #DAA1F9;
          box-shadow: 3px 3px 0px 0px #DAA1F9;
}

#showAll {
  border-color: #808080;
}

#showAll:hover {
  -webkit-box-shadow: 3px 3px 0px 0px #808080;
          box-shadow: 3px 3px 0px 0px #808080;
}

.htmlActive {
  border: 1.4px solid #0a0a0a !important;
  background-color: #FD9494;
  -webkit-box-shadow: 3px 3px 0px 0px #FD9494;
          box-shadow: 3px 3px 0px 0px #FD9494;
}

.scssActive {
  border: 1px solid #0a0a0a !important;
  background-color: #DAA1F9;
  -webkit-box-shadow: 3px 3px 0px 0px #DAA1F9;
          box-shadow: 3px 3px 0px 0px #DAA1F9;
}

.javaScriptActive {
  border: 1px solid #0a0a0a !important;
  background-color: #3FBABB;
  -webkit-box-shadow: 3px 3px 0px 0px #3FBABB;
          box-shadow: 3px 3px 0px 0px #3FBABB;
}

.reactJsActive {
  border: 1px solid #0a0a0a !important;
  background-color: #9BC7F8;
  -webkit-box-shadow: 3px 3px 0px 0px #9BC7F8;
          box-shadow: 3px 3px 0px 0px #9BC7F8;
}

.designActive {
  border: 1px solid #0a0a0a !important;
  background-color: #DAA1F9;
  -webkit-box-shadow: 3px 3px 0px 0px #DAA1F9;
          box-shadow: 3px 3px 0px 0px #DAA1F9;
}

.showAllActive {
  border: 1px solid #0a0a0a !important;
  background-color: #808080;
  -webkit-box-shadow: 3px 3px 0px 0px #808080;
          box-shadow: 3px 3px 0px 0px #808080;
}

@media only screen and (max-width: 899px) {
  .wrapper {
    width: 47%;
  }
}

@media only screen and (max-width: 650px) {
  .wrapper {
    width: 90%;
  }
}
/*# sourceMappingURL=style.css.map */